/**
 * Thin
 */
@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/proxima-nova-thin.woff2') format('woff2'),
    url('../fonts/proxima-nova-thin.woff') format('woff');
}

/**
 * Light
 */
@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  src: url('../fonts/proxima-nova-light.woff2') format('woff2'),
    url('../fonts/proxima-nova-light.woff') format('woff');
  font-weight: 300;
}

/**
 * Semibold
 */
@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  src: url('../fonts/proxima-nova-semibold.woff2') format('woff2'),
    url('../fonts/proxima-nova-semibold.woff') format('woff');
  font-weight: 600;
}

/**
 * Extrabold
 */
@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  src: url('../fonts/proxima-nova-extrabold.woff2') format('woff2'),
    url('../fonts/proxima-nova-extrabold.woff') format('woff');
  font-weight: 800;
}